<center><h3>Welcome @<%= current_user.username %>!  Here is your feed.</h3>
<p>See what your "friends" are talking about!</p></center>
<div>
	<%= render 'tweets/form', tweet: @tweet %>
</div>
	

<div class="well">
	<% @following_tweets.each do |tweet| %>
		<div class="media">
		  <div class="media-left">
		      <%= image_tag tweet.user.avatar.thumb, class: 'img-circle' %>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">@<%= link_to tweet.user.username, show_user_path(id: tweet.user.id) %> • <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %><%= tweet.created_at.strftime('%b %e') if Time.now - tweet.created_at > 86400 %></h4>
		    <p><%= tweet.message.html_safe %></p>
		  </div>
		</div>
	<% end %>
</div>